# Ignore node_modules directory
node_modules/

# Ignore TypeScript build output
dist/

# Ignore .env files that store sensitive information
.env

# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore package-lock.json
package-lock.json

# Ignore yarn.lock
yarn.lock

# Ignore local TypeScript configuration
#tsconfig.json

# Ignore compiled JavaScript files
*.js

# Ignore compiled TypeScript declaration files
#*.d.ts

# Ignore macOS system files
.DS_Store

# Ignore npm debug logs
npm-debug.log*
